<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="campingRoom">

	<!-- (사업자) 캠핑룸 목록보기 -->
	<select id="listCampingRoom" resultType="crVo">
		select cr_no, cr_name, cr_max, cr_checkin, cr_checkout, cr_price, cr_peak_price, cr_type from camping_room where cs_no = #{cs_no} order by cr_no
	</select>
	
	<!-- (사업자) 캠핑룸 등록하기 -->
	<insert id="insertCampingRoom">
		insert into camping_room values(seq_camping_room.nextval,#{cr_name},#{cr_max},#{cr_checkin},#{cr_checkout},#{cr_price},#{cr_peak_price},#{cr_type},#{cs_no})
	</insert>
	
	<!-- (사업자) 캠핑룸 수정하기 -->
	<update id="updateCampingRoom">
		update camping_room set cr_name = #{cr_name},cr_max= #{cr_max},cr_checkin=#{cr_checkin},cr_checkout= #{cr_checkout},cr_price=#{cr_price},cr_peak_price=#{cr_peak_price},cr_type=#{cr_type} where cr_no=#{cr_no} and cs_no = #{cs_no}
	</update>
	
	<!-- (사업자) 캠핑룸 삭제하기 -->
	<delete id="deleteCampingRoom">
		delete camping_room where cr_no = #{cr_no}
	</delete>
	
</mapper>