<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation">

	 <!--  (사업자용) 사업자페이지 메인 예약 목록 -->
	<select id="businessMyPageReservationList" resultType="bossRvo">
		<![CDATA[select r_no, cr_no, cr_name, mc_name, mc_tel, r_date, r_price, r_revstatus, r_cancel 
		from member_customer mc,(select r_no, cr_no, cr_name, mc_id,  r_date, r_price, r_revstatus, r_cancel from 
		(select r_no, cs_no, r.cr_no, cr_name, mc_id,  r_date, r_price, r_revstatus, r_cancel  from reservation r, camping_room cr 
		where r.cr_no = cr.cr_no and cs_no=#{cs_no} order by r_date desc) where rownum <= 3) a 
		where mc.mc_id = a.mc_id order by r_date desc]]>
	</select>

	<!-- (사업자용) 전체 예약관리 목록 -->
	<select id="bossReservationList" resultType="bossRVo">
		select cr.cr_name, r_no, mc_name, mc_tel, r_date, r_checkin, r_price, r_revstatus, r_cancel
		from camping_room cr, reservation r, member_customer mc where cr.cr_no = r.cr_no and r.mc_id = mc.mc_id 
		and cs_no=#{cs_no} order by r_no
	</select>
	
	<!-- 사업자 예약승인 -->
	<update id="updateRstatus">
		update reservation set r_revstatus = 1 where r_no = #{r_no}
	</update>
	
	<!-- 사업자 취소승인 -->
	<update id="updateCstatus">
		update reservation set r_cancel = 2 where r_no = #{r_no}
	</update>
	
	<!-- (사업자) 예약달력 리스트 -->
	<select id="listCalendar" resultType="rsvo">
		select count(*) from reserve_search where rs_date= #{rs_date} and cr_no = #{cr_no} 
	</select>
	
	
	<!-- (사업자용) 예약 상세정보 => 안씀..-->
	<select id="getBossReservationList" resultType="bossRVo">
		select cr.cr_name, r_no, mc_name, mc_tel, r_date, r_checkin, r_price, r_revstatus, r_cancel
		from camping_room cr, reservation r, member_customer mc
		where cr.cr_no = r.cr_no and r.mc_id = mc.mc_id and cs_no=100 and r_no = #{r_no}; 
	</select>

</mapper>